@import './shared/index.scss';
@import './ui/index.scss';

html,
body {
  margin: 0;
  height: 100%;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  background-color: #f1f5f9;
}

#app {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

main .wrapper {
  width: 540px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

hr {
  border: 0;
  height: 1px;
  background-color: lightgray;
}

ul li button {
  width: 60px;
  line-height: inherit;
  cursor: pointer;
  height: auto;
  border: none;
  outline: none;
  border-radius: 2rem;
}

ul li button:hover {
  background-color: rgb(229, 231, 235);
}

#backdrop {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-trigger-btn {
  font-size: 0.9rem;
}

a {
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

#signup-button {
  color: blue;
}

button:hover {
  opacity: 0.7;
}

.navigator__button:hover {
  background-color: #c1ecf2;
}