@import './shared/index.scss';
@import './ui/index.scss';

html,
body {
  margin: 0;
  height: 100%;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  background-color: #f1f5f9;
}

#app {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

main .wrapper {
  width: 540px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

main #subway-map-wrapper {
  width: 60vw;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

hr {
  border: 0;
  height: 1px;
  background-color: lightgray;
}

ul li button {
  width: 60px;
  line-height: inherit;
  cursor: pointer;
  height: auto;
  border: none;
  outline: none;
  border-radius: 2rem;
}

ul li button:hover {
  background-color: rgb(229, 231, 235);
}

#backdrop {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-trigger-btn {
  font-size: 0.9rem;
}

a {
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

#signup-button {
  color: blue;
}

.subway-map-line {
  list-style: none;
  padding: 0;
  margin: 50px 0px 50px 0px;
}

.subway-map-line li {
  display: inline-block;
  margin: 50px 0px 50px 0px;
}

li[data-marker='lineName'] {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0px 10px 0px 10px;
  border-radius: 20px;
}

li span[data-marker='station-name'] {
  display: inline-block;
  position: absolute;
  transform-origin: 0%;
  font-size: 0.8rem;
  transform: rotate(-45deg) translate(0px, -15px);
}

li span[data-marker='station'] {
  display: inline-block;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform: translate(-13px, 7px);
  z-index: 10;
}

li span[data-marker='station-line'] {
  display: inline-block;
  width: 50px;
  height: 5px;
  transform: translate(-10px, -3px);
  z-index: 9;
}

li span[data-marker='station-included-line'] {
  display: inline-block;
  position: relative;
  font-size: 0.2rem;
  transform: translate(15px, -3px);
  background-color: aquamarine;
  width: auto;
  padding: 2px 5px 2px 5px;
  border-radius: 10px;
}

form #section-line-select {
  font-weight: bold;
  color: white;
}