/* Border Width */
.border-0 {
  border-width: 0px;
}

.border-1 {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-4 {
  border-width: 4px;
}

.border-8 {
  border-width: 8px;
}

.border {
  border-width: 1px;
}

.border-t-0 {
  border-top-width: 0px;
}

.border-r-0 {
  border-right-width: 0px;
}

.border-b-0 {
  border-bottom-width: 0px;
}

.border-l-0 {
  border-left-width: 0px;
}

.border-t-2 {
  border-top-width: 2px;
}

.border-r-2 {
  border-right-width: 2px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-l-2 {
  border-left-width: 2px;
}

.border-t-4 {
  border-top-width: 4px;
}

.border-r-4 {
  border-right-width: 4px;
}

.border-b-4 {
  border-bottom-width: 4px;
}

.border-l-4 {
  border-left-width: 4px;
}

.border-t-8 {
  border-top-width: 8px;
}

.border-r-8 {
  border-right-width: 8px;
}

.border-b-8 {
  border-bottom-width: 8px;
}

.border-l-8 {
  border-left-width: 8px;
}

.border-t {
  border-top-width: 1px;
}

.border-r {
  border-right-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-l {
  border-left-width: 1px;
}

/* Border Radius */
.rounded-none {
  border-radius: 0px;
}

.rounded-sm {
  border-radius: 0.125rem;
}

rounded {
  border-radius: 0.25rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-t-none {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.rounded-r-none {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.rounded-b-none {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.rounded-l-none {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.rounded-t-sm {
  border-top-left-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
}

.rounded-r-sm {
  border-top-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
}

.rounded-b-sm {
  border-bottom-right-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}

.rounded-l-sm {
  border-top-left-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}

.rounded-t {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.rounded-r {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.rounded-b {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.rounded-l {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.rounded-t-md {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.rounded-r-md {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.rounded-b-md {
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.rounded-l-md {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.rounded-t-lg {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.rounded-r-lg {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.rounded-b-lg {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.rounded-l-lg {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.rounded-t-xl {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.rounded-r-xl {
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

.rounded-b-xl {
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.rounded-l-xl {
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.rounded-t-2xl {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.rounded-r-2xl {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.rounded-b-2xl {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.rounded-l-2xl {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.rounded-t-3xl {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.rounded-r-3xl {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.rounded-b-3xl {
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.rounded-l-3xl {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.rounded-t-full {
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
}

.rounded-r-full {
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

.rounded-b-full {
  border-bottom-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

.rounded-l-full {
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
}

.rounded-tl-none {
  border-top-left-radius: 0px;
}

.rounded-tr-none {
  border-top-right-radius: 0px;
}

.rounded-br-none {
  border-bottom-right-radius: 0px;
}

.rounded-bl-none {
  border-bottom-left-radius: 0px;
}

.rounded-tl-sm {
  border-top-left-radius: 0.125rem;
}

.rounded-tr-sm {
  border-top-right-radius: 0.125rem;
}

.rounded-br-sm {
  border-bottom-right-radius: 0.125rem;
}

.rounded-bl-sm {
  border-bottom-left-radius: 0.125rem;
}

.rounded-tl {
  border-top-left-radius: 0.25rem;
}

.rounded-tr {
  border-top-right-radius: 0.25rem;
}

.rounded-br {
  border-bottom-right-radius: 0.25rem;
}

.rounded-bl {
  border-bottom-left-radius: 0.25rem;
}

.rounded-tl-md {
  border-top-left-radius: 0.375rem;
}

.rounded-tr-md {
  border-top-right-radius: 0.375rem;
}

.rounded-br-md {
  border-bottom-right-radius: 0.375rem;
}

.rounded-bl-md {
  border-bottom-left-radius: 0.375rem;
}

.rounded-tl-lg {
  border-top-left-radius: 0.5rem;
}

.rounded-tr-lg {
  border-top-right-radius: 0.5rem;
}

.rounded-br-lg {
  border-bottom-right-radius: 0.5rem;
}

.rounded-bl-lg {
  border-bottom-left-radius: 0.5rem;
}

.rounded-tl-xl {
  border-top-left-radius: 0.75rem;
}

.rounded-tr-xl {
  border-top-right-radius: 0.75rem;
}

.rounded-br-xl {
  border-bottom-right-radius: 0.75rem;
}

.rounded-bl-xl {
  border-bottom-left-radius: 0.75rem;
}

.rounded-tl-2xl {
  border-top-left-radius: 1rem;
}

.rounded-tr-2xl {
  border-top-right-radius: 1rem;
}

.rounded-br-2xl {
  border-bottom-right-radius: 1rem;
}

.rounded-bl-2xl {
  border-bottom-left-radius: 1rem;
}

.rounded-tl-3xl {
  border-top-left-radius: 1.5rem;
}

.rounded-tr-3xl {
  border-top-right-radius: 1.5rem;
}

.rounded-br-3xl {
  border-bottom-right-radius: 1.5rem;
}

.rounded-bl-3xl {
  border-bottom-left-radius: 1.5rem;
}

.rounded-tl-full {
  border-top-left-radius: 9999px;
}

.rounded-tr-full {
  border-top-right-radius: 9999px;
}

.rounded-br-full {
  border-bottom-right-radius: 9999px;
}

.rounded-bl-full {
  border-bottom-left-radius: 9999px;
}

.border-black {
  border-color: black;
}

.border-solid {
  border-style: solid;
}

.border-gray-300 {
  border-color: rgb(209, 213, 219);
}
.border-gray-400 {
  border-color: rgb(156, 163, 175);
}
.border-gray-500 {
  border-color: rgb(107, 114, 128);
}
.border-gray-600 {
  border-color: rgb(75, 85, 99);
}
.border-gray-700 {
  border-color: rgb(55, 65, 81);
}
.border-gray-800 {
  border-color: rgb(31, 41, 55);
}
.border-gray-900 {
  border-color: rgb(17, 24, 39);
}
.border-red-300 {
  border-color: rgb(252, 165, 165);
}
.border-red-400 {
  border-color: rgb(248, 113, 113);
}
.border-red-500 {
  border-color: rgb(239, 68, 68);
}
.border-red-600 {
  border-color: rgb(220, 38, 38);
}
.border-red-700 {
  border-color: rgb(185, 28, 28);
}
.border-red-800 {
  border-color: rgb(153, 27, 27);
}
.border-red-900 {
  border-color: rgb(127, 29, 29);
}
.border-orange-300 {
  border-color: rgb(252, 210, 140);
}
.border-orange-400 {
  border-color: rgb(246, 173, 84);
}
.border-orange-500 {
  border-color: rgb(237, 137, 54);
}
.border-orange-600 {
  border-color: rgb(222, 107, 31);
}
.border-orange-700 {
  border-color: rgb(193, 86, 33);
}
.border-orange-800 {
  border-color: rgb(156, 66, 32);
}
.border-orange-900 {
  border-color: rgb(123, 52, 30);
}
.border-yellow-300 {
  border-color: rrgb(252, 211, 77);
}
.border-yellow-400 {
  border-color: rgb(251, 191, 36);
}
.border-yellow-500 {
  border-color: rgb(245, 158, 11);
}
.border-yellow-600 {
  border-color: rgb(217, 119, 6);
}
.border-yellow-700 {
  border-color: rrgb(180, 83, 9);
}
.border-yellow-800 {
  border-color: rgb(146, 64, 14);
}
.border-yellow-900 {
  border-color: rgb(120, 53, 15);
}
.border-green-300 {
  border-color: rgb(110, 231, 183);
}
.border-green-400 {
  border-color: rgb(52, 211, 153);
}
.border-green-500 {
  border-color: rgb(16, 185, 129);
}
.border-green-600 {
  border-color: rgb(5, 150, 105);
}
.border-green-700 {
  border-color: rgb(4, 120, 87);
}
.border-green-800 {
  border-color: rgb(6, 95, 70);
}
.border-green-900 {
  border-color: rgb(6, 78, 59);
}
.border-teal-300 {
  border-color: rgb(130, 230, 217);
}
.border-teal-400 {
  border-color: rgb(80, 209, 197);
}
.border-teal-500 {
  border-color: rgb(57, 178, 171);
}
.border-teal-600 {
  border-color: rgb(50, 151, 149);
}
.border-teal-700 {
  border-color: rgb(46, 121, 123);
}
.border-teal-800 {
  border-color: rgb(40, 94, 97);
}
.border-teal-900 {
  border-color: rgb(35, 78, 82);
}
.border-blue-300 {
  border-color: rgb(147, 197, 253);
}
.border-blue-400 {
  border-color: rgb(96, 165, 250);
}
.border-blue-500 {
  border-color: rgb(59, 130, 246);
}
.border-blue-600 {
  border-color: rgb(37, 99, 235);
}
.border-blue-700 {
  border-color: rgb(29, 78, 216);
}
.border-blue-800 {
  border-color: rgb(30, 64, 175);
}
.border-blue-900 {
  border-color: rgb(30, 58, 138);
}
.border-indigo-300 {
  border-color: rgb(165, 180, 252);
}
.border-indigo-400 {
  border-color: rgb(129, 140, 248);
}
.border-indigo-500 {
  border-color: rgb(99, 102, 241);
}
.border-indigo-600 {
  border-color: rgb(79, 70, 229);
}
.border-indigo-700 {
  border-color: rgb(67, 56, 202);
}
.border-indigo-800 {
  border-color: rgb(55, 48, 163);
}
.border-indigo-900 {
  border-color: rgb(49, 46, 129);
}
.border-purple-300 {
  border-color: rgb(196, 181, 253);
}
.border-purple-400 {
  border-color: rgb(1167, 139, 250);
}
.border-purple-500 {
  border-color: rgb(139, 92, 246);
}
.border-purple-600 {
  border-color: rgb(124, 58, 237);
}
.border-purple-700 {
  border-color: rgb(109, 40, 217);
}
.border-purple-800 {
  border-color: rgb(91, 33, 182);
}
.border-purple-900 {
  border-color: rgb(76, 29, 149);
}
.border-pink-300 {
  border-color: rgb(249, 168, 212);
}
.border-pink-400 {
  border-color: rgb(244, 114, 182);
}
.border-pink-500 {
  border-color: rgb(236, 72, 153);
}
.border-pink-600 {
  border-color: rgb(219, 39, 119);
}
.border-pink-700 {
  border-color: rgb(190, 24, 93);
}
.border-pink-800 {
  border-color: rgb(157, 23, 77);
}
.border-pink-900 {
  border-color: rgb(131, 24, 67);
}
