.btn {
  height: 36px;
  min-width: 64px;
  padding: 0 16px;
  border-radius: 4px;
  outline: 0;
  border-style: none;
  cursor: pointer;
}

.btn:focus,
.btn:hover {
  opacity: 0.7;
}

.modal-trigger-btn {
  font-size: 1rem;
  width: 120px;
  line-height: inherit;
  cursor: pointer;
  height: 42px;
  padding: 0.65rem 1.25rem;
  border: none;
  outline: none;
  border-radius: 2rem;
}
