/* Sizing - Width */
.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}
.w-110px {
  width: 110px;
}

.h-100 {
  height: 100%;
}
