#snackbar-container {
  position: fixed;
  bottom: 0px;
  z-index: 2;
}

.snackbar {
  display: block;
  min-width: 200px;
  background-color: #595959;
  color: #f2f2f2;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  bottom: 30px;
  margin-bottom: 10px;
  -webkit-animation: fadeInAndOut 2s;
  animation: fadeInAndOut 2s;
}

@-webkit-keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
