/* 자동완성 시 기본 css override */
#login-form input,
#signup-form input {
  font-size: 1rem !important;
  background-color: #fff !important;
  border: 1px solid rgb(0 0 0 / 10%) !important;
  box-shadow: 4px 4px 10px 0px rgb(226 226 226), 0 0 0 35px white inset !important;
}

#login-form input:-webkit-autofill,
#signup-form input:-webkit-autofill {
  font-size: 1rem !important;
  border: 1px solid rgb(0 0 0 / 10%) !important;
  box-shadow: 4px 4px 10px 0px rgb(226 226 226), 0 0 0 35px #f1f5f9 inset !important;
}

#login-form input:hover,
#signup-form input:hover,
#login-form input:focus,
#signup-form input:focus,
#login-form input:-webkit-autofill:hover,
#signup-form input:-webkit-autofill:hover,
#login-form input:-webkit-autofill:focus,
#signup-form input:-webkit-autofill:focus {
  font-size: 1rem !important;
  border: 1px solid rgb(78 207 224 / 70%) !important;
  box-shadow: 4px 4px 10px 0px rgb(78 207 224 / 32%), 0 0 0 35px white inset !important;
}

form .input-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form .input-field {
  font-size: 1rem;
  font-weight: 400;
  line-height: inherit;
  width: 100%;
  height: auto;
  padding: 0.75rem 1.25rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  border: 1px solid #d6d6d6;
  background-color: #fff !important;
}

form .input-field:focus {
  box-shadow: 0 5px 15px -4px rgb(0 0 0 / 10%),
    4px 4px 10px 0px rgb(202 202 202 / 32%);
}

form .input-submit {
  font-size: 1rem;
  line-height: inherit;
  cursor: pointer;
  min-width: 90px;
  height: auto;
  padding: 0.65rem 1.25rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  border: 1px solid rgb(78 207 224 / 70%);
  box-shadow: 4px 4px 10px 0px rgb(226 226 226);
}

form select {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: inherit;
  width: 100%;
  height: auto;
  padding: 0.75rem 1.25rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  background-color: #f1f5f9;
  -webkit-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#fff 0%, transparent 0%);
  background-position: calc(100% - 30px) calc(1em + 4px),
    calc(100% - 25px) calc(1em + 4px), calc(100% - 0.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
}

#login-form .input-control {
  margin-bottom: 1rem;
}

#login-form .input-control:nth-child(2) {
  margin-bottom: 0;
}

.form__input-check {
  height: 2rem;
  padding: 0 1.1rem;
  line-height: 1.5rem;
  color: rgb(215, 0, 21);
  font-size: 0.8rem;
  font-weight: 400;
}

.form__input-check.correct {
  color: rgb(36, 138, 61);
  font-weight: 400;
}

/* custom Input */
#create-station-form .input-submit {
  position: absolute;
  right: -0.8rem;
  background: none;
  color: rgb(255 45 85);
  font-weight: 500;
  margin: 2px 0;
  width: auto;
  border: none;
  box-shadow: none;
}
