.station-list-item:not(:last-child) {
  border-bottom: 1px solid #d6d6d6;
}

#create-station-form .input-field {
  border-color: #ff2d56;
}

.section-container,
.js-all-lines-container__div {
  display: flex;
  padding: 0 1rem;
  border-bottom: 1px solid #d6d6d6;
}

.subway-lines {
  margin: 0 1.2rem;
}

.subway-lines-container {
  cursor: pointer;
}

.subway-lines-container:hover {
  cursor: pointer;
  opacity: 0.7;
}

.line-item:not(:last-child) {
  border-bottom: 1px solid #d6d6d6;
}

.connected-lines .connected-line:nth-child(2n-1) {
  border-bottom: 1px solid #d6d6d6;
}

.connected-lines .connected-line:nth-child(2n) {
  border-top: 1px solid #d6d6d6;
}
