.map-section {
  position: relative;
}

.map-nav-bar {
  background-color: rgb(177, 240, 251);
  height: 3rem;
  z-index: 1;
}

.map-nav-bar .finding-route {
  background-color: rgb(255, 255, 255);
  color: rgb(19, 19, 19);
}

.map-wrapper {
  position: relative;
  background-color: rgb(224, 224, 224);
  padding: 5rem;
}

.map-wrapper ul {
  display: flex;
  align-items: center;
  padding-left: 0px;
  margin-bottom: 3rem;
  z-index: 1;
  position: relative;
}

.map-wrapper .map-line-name {
  font-weight: 500;
  margin-right: 2rem;
  border-radius: 20px;
  padding: 5px 20px;
}

.station-list .map-station-name {
  position: absolute;
  top: -2rem;
  left: -100%;
  width: max-content;
  text-decoration: none;
}

.station-list .section-info {
  font-size: 11px;
  position: absolute;
  width: max-content;
  top: 1rem;
  left: 1rem;
}

.station-list {
  position: relative;
  text-decoration: none;
  list-style-type: none;
  width: 10px;
  height: 10px;
  border: 2px solid rgb(0, 0, 0);
  background-color: white;
  border-radius: 100%;
}

.station-list .section-line {
  position: absolute;
  height: 10px;
  left: calc(-2rem);
  z-index: -1;
}

.station-list .section-line.finding-line {
  left: 0;
}

.station-list:nth-last-child(2) {
  margin-right: 2rem;
}

.station-list:nth-last-child(2) .section-line {
  width: calc(5rem - 6px);
}
