.map-item {
  display: inline-flex;
  margin: 2.5rem 0;
  padding: 0;
  border-bottom-width: 0.4rem;
  border-bottom-style: solid;
}

.map-item-line {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transform: translateY(calc(50% + 0.2rem));

  min-width: 3rem;
  max-height: 1.5rem;
  border-radius: 0.8rem;

  padding: 0.3rem 0.8rem;
  font-size: 1rem;
  color: #e7e7e7;
}

.map-item-station-dot {
  list-style: none;
  background-color: #fff;
  margin: 0 2rem;
  width: 1.2rem;
  height: 1.2rem;
  border-width: 0.4rem;
  border-style: solid;
  border-radius: 50%;

  position: relative;
  transform: translateY(calc(50% + 0.2rem));
}

.map-item-station-dot:last-child {
  margin-right: 0;
  transform: translate(1px, calc(50% + 0.2rem));
}

.map-item-station-dot::after {
  content: attr(data-station-name);
  position: absolute;
  width: 7.5rem;

  font-size: 0.8rem;
  top: -0.9rem;
  left: 0.9rem;
  transform-origin: 0% 0%;
  transform: rotate(-40deg);
}
