.overview .station-infos:last-child .additional-infos {
  display: none;
}

.overview .direction-line {
  width: 0.25rem;
  height: 2.5rem;
  margin-top: 0.5rem;
  margin-right: auto;
  background-color: black;
  justify-content: center;
  transform: translateX(-50%);
}

.overview .additional-infos {
  align-self: flex-end;
}

.overview .distance,
.overview .duration {
  font-family: monospace;
}

.overview .duration {
  margin-right: 15%;
}
