@import './shared/index.css';
@import './ui/index.css';
@import './pages/index.css';

html,
body {
  margin: 0;
  height: 100%;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  background-color: #f1f5f9;
}

#app {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

main .wrapper {
  width: 540px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

#user-greet-message {
  top: 1rem;
  right: 1rem;
}

hr {
  border: 0;
  height: 1px;
  background-color: lightgray;
}

ul li button {
  width: 60px;
  line-height: inherit;
  cursor: pointer;
  height: auto;
  border: none;
  outline: none;
  border-radius: 2rem;
}

ul li button:hover {
  background-color: rgb(229, 231, 235);
}

.duplicate-check-btn {
  width: 8rem !important;
}

#navigation button:enabled:hover {
  background-color: #2ac1bc;
  color: #ffffff;
}

#navigation button.selected {
  background-color: #2ac1bc;
  color: #ffffff;
}

#station-list, #section-station-list {
  height: 50vh;
  overflow-y: auto;
}

.station-list-item {
  position: relative;
}

.section-data-container {
  height: 0px;
}

.section-data-container .chip {
  transform: translateY(-50%);
}

#section-station-list .subway-line-color-dot:hover {
  transform: scale(1.2);
  transform-origin: center;
}

#section-station-list .vertical-line {
  display: inline-block;
  position: absolute;
  width: 4px;
  margin: 0 3px;
  height: 100%;
  transform: translateX(50%);
}

#subway-map {
  width: 100%;
}

.map-line-connector {
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-line-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.map-line-list > li {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 12px;
}

.map-line-list > .map-line-name {
  align-self: flex-end;
  height: 100%;
  text-align: center;
  transform: translate(2px, 15%);
  z-index: 1;
  padding: 2px 6px;
  width: 56px;
  height: 24px;
  line-height: 24px;
  background-color: #ffffff;
  border-width: 2px;
  border-style: solid;
  border-radius: 100px;
}

.map-station-list {
  position: relative;
  height: 3rem;
  margin-top: 10px;
}

.map-station-list .subway-line-color-dot {
  background-color: #ffffff;
  border: 0.15rem solid #000000;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.map-station-list .transfer-dot {
  background-color: #ffffff;
  border: 0.05rem solid #000000;
  border-radius: 100%;
  width: 7px;
  height: 7px;
  cursor: pointer;
}

.map-station-list .horizontal-line {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 10px;
}

.map-station-list:last-child .horizontal-line {
  border-radius: 0 10px 10px 0;
}

.map-station-list .transfer-pop-over {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 4px 4px 4px 8px;
  min-width: 64px;
  min-height: 48px;
  list-style: none;
  background-color: #ffffff;
  border: 0.15rem solid #000000;
  border-radius: 8px;
  top: 75%;
  left: 60%;
  z-index: 1;
}

.transfer-pop-over .pop-over-color-dot {
  width: 12px;
  height: 12px;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.dinosaur {
  display: inline-block;
  cursor: default;
  transition: transform 1s;
  transform: rotate(-90deg);
}

.dinosaur-big {
  display: block;
  font-size: 4rem;
}

.dinosaur:hover {
  transform: rotate(0deg);
}