@import './shared/index.css';
@import './ui/index.css';
@import './pages/index.css';

html,
body {
  margin: 0 auto;
  height: 100vh;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  background-color: #f1f5f9;
  background: url('https://media1.giphy.com/media/5SzCNbcYNPSWngBJlx/giphy.gif') no-repeat center;
  background-size: cover;
  background-color: #000;
  transition: background 1.5s linear;
}

#app {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

#main-content {
  width: 540px;
  box-shadow: 0 10px 15px -3px rgba(#000, 0.1), 0 4px 6px -2px rgba(#000, 0.05);
  border-radius: 4px;
}

hr {
  border: 0;
  height: 1px;
  background-color: lightgray;
}

ul li button {
  width: 60px;
  line-height: inherit;
  cursor: pointer;
  height: auto;
  border: none;
  outline: none;
  border-radius: 2rem;
}

ul li button:hover {
  background-color: rgb(229, 231, 235);
}
