@import './shared/index.css';
@import './ui/index.css';
@import './pages/index.css';

html,
body {
  margin: 0;
  height: 100%;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  background-color: #f1f5f9;
}

#app {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

main .wrapper {
  width: 540px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

hr {
  border: 0;
  height: 1px;
  background-color: lightgray;
}

ul li button {
  width: 60px;
  line-height: inherit;
  cursor: pointer;
  height: auto;
  border: none;
  outline: none;
  border-radius: 2rem;
}

ul li button:hover {
  background-color: rgb(229, 231, 235);
}

.list-style-none {
  list-style: none;
}

.bottom-line {
  border-bottom: 1px solid lightgray;
}

.sections-bottom-line {
  border-bottom: 2px dashed lightgray;
  width: 45%;
}

.subway-line-color-selector {
  transform: rotate(90deg);
}

.align-center {
  align-items: center;
}

.vertical-line-bar {
  width: 4px;
  height: 40px;
  z-index: 1;
}

.section-info-container {
  position: absolute;
  left: 46%;
  transform: translate(0%, -50%);
}

.station-name {
  min-width: 120px;
}
