#color-picker-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#subway-line-color-indicator {
  width: 100%;
  text-align: center;
}

#subway-line-color-indicator-container {
  width: 27.25rem;
}