.station-list__included-lines {
  margin-left: 5px;
}

.station-list__included-line {
  display: inline-block;
  margin: 0px 2px 0px 2px;
  padding: 2px 5px 2px 5px;
  font-size: 0.75rem;
  border-radius: 15px;
  color: white;
  font-weight: bold;
}
